<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" -->
      <!-- crossorigin="anonymous"> -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>
  <body>
    <div class="container">
      <h2>Complain Desk</h2>
      <form
        action="{{ url_for('basic2')}}"
        method="post"
        enctype="multipart/form-data"
        class="form-control"
      >
        <div class="form-group">
          <label for="comment">Enter your complain:</label>
          <textarea
            class="form-control"
            rows="5"
            id="comment"
            name="complain"
          ></textarea
          ><br />
          <button type="submit" class="btn white black-text centre">
            Submit
          </button>
        </div>
      </form>

      <br>
      <br><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div>{{result}}</div>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

  {% with messages = get_flashed_messages() %} 
    {% if messages %} 
      {% for message in messages %}
  <!-- <div class="alert alert-success"> -->
  <script>
    // alert("{{prediction_text}}")
    // swal("{{ prediction_text }}");
    // swal({
    //  title: "Prediction",
    //  text: "{{message}}",
    //  type: "success"
    // //  timer: 7000
    //  });

    // swal("Prediction!", "{{message}}", "success")

    Swal.fire({
      title: "Prediction",
      text: "{{message}}",
      icon: "success",
      position: "top-right",
    });

    // alert("{{message}}");

    // let timerInterval
    // Swal.fire({
    // title: 'Prediction!',
    // html: '{{message}}',
    // timer: 2000,
    // timerProgressBar: true,
    // onBeforeOpen: () => {
    //  Swal.showLoading()
    //  timerInterval = setInterval(() => {
    //  const content = Swal.getContent()
    //  if (content) {
    //    const b = content.querySelector('b')
    //    if (b) {
    //    b.textContent = Swal.getTimerLeft()
    //    }
    //  }
    //  }, 100)
    // },
    // onClose: () => {
    //  clearInterval(timerInterval)
    // }
    // }).then((result) => {
    // /* Read more about handling dismissals below */
    // if (result.dismiss === Swal.DismissReason.timer) {
    //  console.log('I was closed by the timer')
    // }
    // })

    // Swal.fire({
    // title: 'hello',
    // position: 'top-end',
    // icon: 'success',
    // title: 'Your work has been saved',
    // showConfirmButton: false
    // // timer: 1500
    // })

    // setTimeout(function(){ swal("{{ prediction_text }}"); }, 3000);
  </script>
  <!-- </div> -->
      {% endfor %} 
    {% endif %} 
  {% endwith %}
</html>
