<!DOCTYPE html>
<html lang="en">
<head>
  <title>API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2>Complain Desk</h2>
  <form>
    <div class="form-group">
      <label for="comment">Enter your complain:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea><br>
      <button type="submit" class="btn white black-text centre" >Submit</button>
    </div>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
